{% extends "base.html" %}
{% block content %}
{% include 'navbar.html' %}

<div class="container container-padding">

    <div class="row fullpage">

        <div class="row">
            <div class="col-md-12" style="padding-bottom:0.5em;">
                {% if disabled == false %} 
                <form method="post" action="{{base_path}}/units/{{unit.id}}/delete">
                    <button type="submit" class="btn btn-link float-right">
                        <span class="glyphicon glyphicon-trash" style="font-size: 1em;color:gray;"></span>
                    </button>
                </form>
                {% endif %}
                <h4 style="display:inline;">{{unit.address}}, {{unit.area|round}} m²</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron" style="margin-bottom: 0px;">
                            <h2>Space reserved for photo functionality</h2>
                            <p>and</p>
                            <p><a class="btn btn-primary btn-lg" href="#" role="button">clicking here doesn't do anything yet</a></p>
                        </div>
                    </div>
                </div>

                <form  method="post" action="{{base_path}}/units/{{unit.id}}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group input-group-lg">
                                <input {{disabled}} id="advertised_rent" class="form-control" type="number" max="9999" min="0" step="any" name="advertised_rent" value="{{unit.advertised_rent|round}}" style="box-shadow: none;color: limegreen;">                            
                                <span class="input-group-addon" id="basic-addon2" style="text-align: left;padding-left: 0px;padding-right: 0px;background:none;border-style: none;border-color: transparent;color: limegreen;">€ a month</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {% for amenity in amenities %}
                            <label class="checkbox-inline float-right" title="{{amenity.description}}">
                                <input {{disabled}} type="checkbox" name="amenities[]" value="{{amenity.id}}" {{amenity.checked}}>{{amenity.name}}
                            </label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <blockquote style="font-size: 1em;" class="clearfix">
                                <h4><textarea {{disabled}} name="description_title" class="textarea-fullwidth" rows="1" cols="30" maxlength="30" placeholder="Enter title for your unit">{{unit.description_title}}</textarea></h4>
                                <p><textarea {{disabled}} name="description" class="textarea-fullwidth" rows="10" maxlength="1000" placeholder="Write description for your unit">{{unit.description}}</textarea></p>
                            </blockquote>
                        </div>
                    </div>
                    {% if disabled == false %}  
                    <button class="btn btn-success" type="submit">Save changes</button>
                    {% endif %}
                </form>

            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Basic information
                            {% if disabled == false %} 
                            <a href="{{base_path}}/units/{{unit.id}}/edit"><small><span class="glyphicon glyphicon-pencil pull-right"></span></small></a>
                            {% endif %}
                        </h4>               
                    </div>
                    <table class="table  table-condensed">
                        <tr>
                            <td><strong>Address</strong></td>
                            <td>{{unit.address}}</td>
                        </tr>
                        <tr>
                            <td><strong>Size</strong></td>
                            <td>{{unit.area|round}} m²</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value €</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>Long value: Aliquam faucibus, elit ut dictum aliquet, felis nisl 
                                adipiscing sapien, sed malesuada diam lacus eget erat. Cras 
                                mollis scelerisque nunc.</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>Long value: Aliquam faucibus, elit ut dictum aliquet, felis nisl 
                                adipiscing sapien, sed malesuada diam lacus eget erat. Cras 
                                mollis scelerisque nunc. Nullam arcu. Aliquam consequat. 
                                Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, 
                                nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, 
                                orci. In hac habitasse platea dictumst.</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <address>
                            <strong>{{landlord.first_name}} {{landlord.last_name}}</strong><br>
                            <a href="mailto:{{landlord.email}}">{{landlord.email}}</a><br>
                            <a href="tel:555-555-5555">555-555-5555</a><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr>

    {% if disabled == false %}
    {% include '/lease/leases.html' %}
    {% endif %}
</div>

{% endblock %}