
<div class="row fullpage">
    <a href="{{base_path}}/units/{{unit.id}}/lease" class="btn btn-primary add-lease-button" id="leases">Add new lease</a>

    <table class="table table-striped">              
        <tr>
            <th>Name</th>
            <th>Rent</th> 
            <th>From</th>
            <th>Until</th>
            <th></th>
        </tr>
        <tr>
            <td>Joe Moses</td>
            <td>480€</td> 
            <td>1.6.2014</td>
            <td>31.12.2016</td>
            <td><a href="{{base_path}}/units/{{unit.id}}/lease" class="float-right btn btn-xs btn-default">Edit</a></td>
        </tr>
        <tr>
            <td>Oliver Nääs</td>
            <td>530€</td> 
            <td>1.3.2014</td>
            <td>31.5.2014</td>
            <td><a href="{{base_path}}/units/{{unit.id}}/lease" class="float-right btn btn-xs btn-default">Edit</a></td>
        </tr>
        <tr>
            <td>Joe Moses</td>
            <td>480€</td> 
            <td>1.6.2014</td>
            <td>31.12.2016</td>
            <td><a href="{{base_path}}/units/{{unit.id}}/lease" class="float-right btn btn-xs btn-default">Edit</a></td>
        </tr>
        <tr>
            <td>Joe Moses</td>
            <td>480€</td> 
            <td>1.6.2014</td>
            <td>31.12.2016</td>
            <td><a href="{{base_path}}/units/{{unit.id}}/lease" class="float-right btn btn-xs btn-default">Edit</a></td>
        </tr>
        <tr>
            <td>Joe Moses</td>
            <td>480€</td> 
            <td>1.6.2014</td>
            <td>31.12.2016</td>
            <td><a href="{{base_path}}/units/{{unit.id}}/lease" class="float-right btn btn-xs btn-default">Edit</a></td>
        </tr>
    </table>
</div>
