{% extends "base.html" %}
{% block content %}
{% include 'navbar.html' %}

<div class="container container-padding">

    <div class="row padding">
        <button type="button" class="btn btn-primary">New rental unit</button>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 unitlist">
            <a href="{{base_path}}/user/unit">
                <div class="thumbnail">
                    <img src="{{base_path}}/assets/img/roomthumb.jpg">
                    <div class="caption">
                        <p>Osoitekatu 32, Helsinki</p>
                        <h3>Big room</h3>
                        <p>Available from: 31.12.2016</p>
                        <p>Rent: 500€</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 unitlist">
            <a href="{{base_path}}/user/unit">
                <div class="thumbnail">
                    <img src="{{base_path}}/assets/img/roomthumb.jpg">
                    <div class="caption">
                        <p>Osoitekatu 32, Helsinki</p>
                        <h3>Big room</h3>
                        <p>Available from: 31.12.2016</p>
                        <p>Rent: 500€</p> </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 unitlist">
            <a href="{{base_path}}/user/unit">
                <div class="thumbnail">
                    <img src="{{base_path}}/assets/img/roomthumb.jpg">
                    <div class="caption">
                        <p>Osoitekatu 32, Helsinki</p>
                        <h3>Big room</h3>
                        <p>Available from: 31.12.2016</p>
                        <p>Rent: 500€</p></div>
                </div>
            </a>
        </div>
    </div>


</div>

{% endblock %}