@media (min-width: 768px) {  
    .container-padding {
        padding-right: 10%;
        padding-left: 10%;
    }
}

@media (max-width: 767px) {  
    .container-padding {
        padding-right: 2em;
        padding-left: 2em;
    }
}

.fullpage {
    min-height:90vh;
}

.padding {
    padding: 20px;
}

.add-lease-button {
    margin-bottom: 1em;
}

.margin-0 {
    margin: 0px;
}

.navbar .container-fluid{
    padding-right: 30px;
    margin: 0px auto;
}

/*sign-up laatikon vertikaalinen keskittäminen*/
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 85vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.unitlist a:hover {
    text-decoration: none;
}

.img-portfolio {
    width: 4em;
}

.float-right {
    float: right;
}

.edit {
    font-style: italic;
    color: grey;
}

#advertised_rent {
    text-align: right;
    padding: 0px;
    margin: 0px;
    float: left;
    resize: none;
    border-style: none; 
    border-color: transparent; 
    overflow: auto;
    background: none;
}

.textarea {
    padding: 0px;
    margin: 0px;
    float: left;
    resize: none;
    border-style: none; 
    border-color: transparent; 
    overflow: auto;
    background: none;
}

.textarea-fullwidth {
    width: 100%;
    height: 100%;
    resize: none;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;
    background: none;
}

.text-right {
    text-align: right;
}

.image-remove {
    color: white;
    text-shadow: 0.25em 0.25em 0.25em #888888;
    position: absolute;
    top: 1em;
    right: 2em;
}

