{% extends "base.html" %}
{% block content %}
{% include 'navbar.html' %}

<div class="container container-padding">

    <div class="row fullpage">

        <div class="row">
            <div class="col-md-12" style="padding-bottom:0.5em;">
                <form method="post" action="{{base_path}}/units/{{unit.id}}/delete">
                    <button type="submit" class="btn btn-link float-right">
                        <span class="glyphicon glyphicon-trash" style="font-size: 1em;color:gray;"></span>
                    </button>
                </form>
                <h4 style="display:inline;">{{unit.address}}, {{unit.area|round}} m²</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron" style="margin-bottom: 0px;">
                            <h2>Drag photos here</h2>
                            <p>or</p>
                            <p><a class="btn btn-primary btn-lg" href="#" role="button">click here to upload</a></p>
                        </div>
                    </div>
                </div>

                <form  method="post" action="{{base_path}}/units/{{unit.id}}">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="float-right" style="color:limegreen;">
                                <textarea autofocus rows="1" cols="4" maxlength="4" class="textarea" style="text-align: right;padding-right:0.5em;" name="advertised_rent">{{unit.advertised_rent|round}}</textarea>                                
                                € a month 
                                <!--<span data-toggle="collapse" data-target="#setrent" class="glyphicon glyphicon-pencil" style="font-size: 0.6em;color:gray;"></span>-->
                            </h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="checkbox-inline float-right">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> Electricity
                            </label>
                            <label class="checkbox-inline float-right">
                                <input type="checkbox" id="inlineCheckbox2" value="option2"> Water
                            </label>
                            <label class="checkbox-inline float-right">
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> Internet
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <blockquote style="font-size: 1em;" class="clearfix">
                                <h4><textarea name="title" class="textarea-fullwidth" rows="1" cols="30" maxlength="30" placeholder="Enter title for your unit">{{unit.title}}</textarea></h4>
                                <p><textarea name="description" class="textarea-fullwidth" rows="10" maxlength="1000" placeholder="Write description of your unit">{{unit.description}}</textarea></p>
                            </blockquote>
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit">Save changes</button>
                </form>

            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Basic information
                            <small><span class="glyphicon glyphicon-pencil pull-right"></span></small>
                        </h4>               
                    </div>
                    <table class="table  table-condensed">
                        <tr>
                            <td><strong>Address</strong></td>
                            <td>{{unit.address}}</td>
                        </tr>
                        <tr>
                            <td><strong>Size</strong></td>
                            <td>{{unit.area|round}} m²</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value €</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>Long value: Aliquam faucibus, elit ut dictum aliquet, felis nisl 
                                adipiscing sapien, sed malesuada diam lacus eget erat. Cras 
                                mollis scelerisque nunc.</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>Long value: Aliquam faucibus, elit ut dictum aliquet, felis nisl 
                                adipiscing sapien, sed malesuada diam lacus eget erat. Cras 
                                mollis scelerisque nunc. Nullam arcu. Aliquam consequat. 
                                Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, 
                                nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, 
                                orci. In hac habitasse platea dictumst.</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                        <tr>
                            <td><strong>Attribute</strong></td>
                            <td>value</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <address>
                            <strong>Etunimi Sukunimi</strong><br>
                            <a href="mailto:etunimi.sukunimi@maili.com">etunimi.sukunimi@maili.com</a><br>
                            <a href="tel:555-555-5555">555-555-5555</a><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr>

    {% include '/suunnitelmat/leases.html' %}

</div>

{% endblock %}