{% extends "base.html" %}
{% block content %}
{% include 'navbar.html' %}

<div class="container container-padding">
    <form method="post" action="{{base_path}}/units">
        <div class="row">
            <div class="row">
                <div class="col-md-3 padding">
                    {{message}}
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <h4>Basic information</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-3 form-control-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="address">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="area" class="col-sm-3 form-control-label">Size</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="area">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding">
                <button type="submit" class="btn btn-primary float-right">Continue</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}